code
{
    background-color: #2b303b;
    color: #2b303b;
    border-radius: 0;
}

.contenitore_anteprima
{
    height: 30vh;
}
.contenitore_anteprima img
{
    max-height: 30vh;
    display: block;
}
.card-button
{
    /* float: right; */
    width: fit-content;
}
.card-button-container
{
    text-align: end;
}

/* Correggo le tabelle per mostrarle sempre nella propria interezza */
.content > .page-table
{
    /* width: auto; */
    margin-left: auto;
    margin-right: auto;
    display: table;
    max-height: max-content;
    max-width: fit-content;
}
.content > .page-table > thead
{
    position: relative;
}
.content > figure img
{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.content > figure > figcaption
{
    text-align: center;
}
.content > figure
{
    height: 30%;
    padding: 3px;
    border: #6d6d6d solid 1px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 768px) {
    .content > figure img
    {
        width: 90%;
    }

}

.toc-container
{
    padding: 0.3rem;
    border: black 1px solid;
    max-width: 100%;
}
@media screen and (min-width: 480px) {
    .toc-container {
        max-width: 50%;
    }
}