{% extends "wiki/base.html" %}
{% block content %}
<h1>{{section.title}}</h1>
<p>{{section.description}}</p>
<div class="content">
    {{ section.content | safe }}
</div>
<hr>
{% if section.subsections %}
<h2>Sottocategorie:</h2>
<div class="row">
    {% for subsection in section.subsections %}
    {% set sec = get_section(path=subsection) %}
    {% if sec.extra.anteprima %}
        {% set thumbnail=sec.extra.anteprima %}
    {% else %}
        {% set thumbnail="" %}
    {% endif %}
    {{macros::card(
        title=sec.title,
        description=sec.description,
        url=sec.permalink,
        thumbnail=thumbnail
    )}}
    {% endfor %}
</div>
{% endif %}

{% if section.pages %}
<h2>Pagine:</h2>
<div class="row">
    {% for page in section.pages %}
        {% if page.extra.anteprima %}
            {% set thumbnail=page.extra.anteprima %}
        {% else %}
            {% set thumbnail="" %}
        {% endif %}
        {{macros::card(
            title=page.title,
            description=page.description,
            url=page.permalink,
            thumbnail=thumbnail
        )}}
    {% endfor %}
</div>
{% endif %}

{% endblock content %}