<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fablab Imperia APS | {% block title %}{% endblock title %}</title>
    <link rel="icon" href="/assets/imgs/favicon.png">
    <script src="https://kit.fontawesome.com/d403834001.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/reset.css">
    <link rel="stylesheet" href="/assets/utilities.css">
    <link rel="stylesheet" href="/assets/style.css">

</head>

<body>
    <!-- NAVBAR -->

    <header class="navbar">
        <div class="wrapper navbar__grid">
            <div class="logo">
                <a href="index.html"><img src="assets/imgs/logotshirt_senzascritta2b.png" alt="Fablab Logo"></a>
            </div>
            <input type="checkbox" id="nav-toggle" class="nav-toggle">
            <nav>
                <ul>
                    <li><a href="fablab.html">L'associazione</a></li>
                    <li><a href="#services">Servizi</a></li>
                    <li><a href="#courses">Corsi</a></li>
                    <li><a href="fablab4kids.html">Fablab 4 Kids</a></li>
                    <li><a href="#events">Events</a></li>
                    <li><a href="#contacts">Contatti</a></li>
                </ul>
            </nav>
            <label for="nav-toggle" class="nav-toggle-label"><span></span></label>
        </div>
    </header>

    <div style="height: var(--navbar-height);"></div>

    <main>
        {% block content %}
        {% endblock content %}
        <!-- PARTNERS  -->

        <section class="partners" id="partners">
            <div class="wrapper">
                <h1>I nostri partner</h1>
                <div class="f-row f-row--wrapped">
                    <div class="f-col">
                        <img src="assets/imgs/centropastore.png" alt="logo Centro Pastore">
                    </div>
                    <div class="f-col">
                        <img src="assets/imgs/klimat.png" alt="logo Klimat impianti di condizionamento">
                    </div>
                    <div class="f-col">
                        <img src="assets/imgs/genitoriattivitraspbn-min.png" alt="logo Genitori Attivi">
                    </div>
                    <div class="f-col">
                        <img src="assets/imgs/coordterra.png" alt="logo Coordinamento Terra">
                    </div>
                    <!-- <div class="f-col">
                        <img src="assets/imgs/switch.png" alt="logo Switch Recupero spazi in abbandono">
                    </div> -->
                    <div class="f-col">
                        <img src="assets/imgs/logo_FF-1024x145-e1481016697161.png" alt="logo FabFoundation">
                    </div>
                    <div class="f-col">
                        <img src="assets/imgs/CamBam_Logo2-1.png" alt="logo CamBam">
                    </div>
                    <div class="f-col">
                        <img src="assets/imgs/Simplify3D_RGB_horiz_LOWRES.png" alt="logo Simplyfy3D">
                    </div>
                    <div class="f-col">
                        <img src="assets/imgs/3dp_fusion360_autodesk_logo.png" alt="logo Autodesk">
                    </div>

                </div>
            </div>
        </section>

    </main>

    <!-- FOOTER  -->

    <section class="footer" id="contacts">
        <div class="wrapper">
            <div class="f-row">
                <div class="f-col">
                    <div class="f-col">
                        <img class="footer__logo" src="/assets/imgs/logo-fablab.png" alt="Logo Fablab Imperia">
                    </div>
                    <div class="f-col">
                        <h3>Fablab Imperia A.P.S.</h3>
                    </div>
                    <ul class="footer__contacts" style="margin: 0; padding: 0;">
                        <li style="list-style-type: none; padding:0; margin-bottom: 5px; margin-top: 15px;"> <span
                                style="color:rgb(0, 202, 61);">Dove:</span> ARCI Il Campo delle Fragole - Viale
                            Matteotti, 31 - 18100 Imperia (IM) </li>
                        <li style="list-style-type: none; padding:0; margin-bottom: 5px; margin-top: 15px;"> <span
                                style="color:rgb(0, 202, 61);">Quando</span> (<em class="highlight">telefonare per
                                disponibilità e conferme </em></span>) :
                            <ul>
                                <li style="margin-top: 8px;" class="footer__location">Martedì, Mercoledì e Giovedì
                                    17.00-19.00 workshop, stampa 3d e dimostrazioni interattive in condivisione col
                                    Puerto
                                    <br>
                                    <a href="tel:+393293127565"><span style="color: rgb(0, 202, 61);">Valerio:</span>
                                        <span style="text-decoration: underline;">+39 329 31.27.565</span></a>
                                </li>
                                <li style="margin-top: 3px;" class="footer__location">Sabato e Domenica 16.30-20.00,
                                    progetti e sperimentazioni
                                    <br>
                                    <a href="tel:+393493140191"><span style="color:rgb(0, 202, 61);">Stefano:</span>
                                        <span style="text-decoration: underline;">+39 349 31.40.191</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="footer__contacts footer__contacts--social">
                        <li class="email"><a href="mailto:info@fablabimperia.org">info@fablabimperia.org</a></li>
                        <li class="email">PEC: <a href="mailto:fablabimperia@pec.it">fablabimperia@pec.it</a></li>
                        <li class="youtube"><a href="https://www.youtube.com/channel/UCOttb6FB3ps3tBMo4HGWkTw">Canale
                                Youtube</a></li>
                        <li class="facebook"><a href="https://www.facebook.com/fablabimperia">Pagina Facebook</a></li>
                        <li class="twitter"><a href="https://twitter.com/fablabimperia">Account Twitter</a></li>
                        <li class="instagram"><a href="https://www.instagram.com/fablabimperia/">Profilo Instagram</a>
                        </li>
                        <li class="github"><a href="https://github.com/fablab-imperia">Repository GitHub</a></li>
                        <li class="pinterest"><a href="https://it.pinterest.com/fablabimperia/">Profilo Pinterest</a>
                        </li>

                    </ul>
                </div>
                <div class="f-col">
                    <iframe class="map"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5751.931801130716!2d8.0127440041013!3d43.87725809769747!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12d26ea95c9af2f7%3A0x762f784593820aec!2sFablab%20Imperia!5e0!3m2!1sen!2sit!4v1620901654444!5m2!1sen!2sit"
                        style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>

            <ul class="footer__sitemap">
                <li><a href="fablab.html">L'Associazione</a></li>
                <li><a href="index.html#services">Servizi</a></li>
                <li><a href="index.html#courses">Corsi</a></li>
                <li><a href="coderdojo.html">CoderDojo</a></li>
                <li><a href="index.html#events">Events</a></li>
                <li><a href="index.html#contacts">Contatti</a></li>
            </ul>


        </div>
        <div class="footer__info">
            <p>Associazione Fablab Imperia APS - C.F.: 91043710085 - P.IVA: 01665670087 - info@fablabimperia.org - pec: fablabimperia@pec.it</p>
        </div>
    </section>

    </main>

    <script language="JavaScript" type="text/javascript" src="assets/script.js"></script>

</body>

</html>