{% extends "base.html" %}
{% block content %}
<h1>Fablab Imperia Wiki</h1>
<p>
    Esplora la nostra documentazione su macchinari, progetti e guide fatte da noi!
</p>
<p>
    Su questo Wiki i soci del Fablab condividono idee, appunti, progetti,
procedure e parametri di lavorazione attinenti con le attività del
Fablab Imperia.
<br>
Tutti i principali progetti, le guide e i tutorial realizzati dai soci
del FabLab Imperia, sono condivisi su questo Wiki e pubblicati con
[licenza Creative Commons BY-SA
v.4.0](https://creativecommons.org/licenses/by-sa/4.0/deed.it), salvo
dove diversamente specificato.
</p>
<hr>
{% set main_sec = get_section(path="_index.md") %}
<div class="row">
{% for subsection in main_sec.subsections %}
    {% set sec = get_section(path=subsection) %}
    {{macros::card(
        title=sec.title,
        description=sec.description,
        url=sec.permalink
    )}}
{% endfor %}
</div>
<hr>
<div class="row">
    {% for page in section.pages %}
    {{macros::card(
        title=page.title,
        description=page.description,
        url=page.permalink
    )}}
    {% endfor %}
</div>


{% endblock content %}